.container {
  margin: 0.25em;
}

.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.2vw;
  row-gap: 0.2vw;
  border-radius: 0.25em;
}

.iconshape {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #fff;
  border-radius: 0.25rem;
  min-height: 12.2vw;
}

.search {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  background: #f5f5f5;
  border-radius: 0.25rem;
}

.search_input {
  background-color: transparent;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
}

.setting_size:hover,
.search_input:hover,
.iconshape:hover {
  background-color: #fafafa;
}

.search_input:focus {
  outline: none;
  border: 2px solid #d7d7d7;
  box-sizing: border-box;
}

.setting_size {
  justify-content: center;
  align-content: center;
  background: #fff;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  display: grid;
  grid-column-start: 8;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: pointer;
  min-height: 12.2vw;
}

.setting_size input {
  position: absolute;
  visibility: hidden;
}

.figma {
  background: #fff;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 3;
}

.figma model-viewer {
  width: 50%;
  height: 100%;
}

.figma .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0;
}

.figma p {
  color: #646464;
  font-size: 0.75rem;
  letter-spacing: 0.015em;
}

.about {
  background: #fff;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
  padding: 1em;
}

.about p {
  color: #646464;
  font-size: 0.75rem;
  letter-spacing: 0.015em;
  line-height: 150%;
}

.title {
  font-weight: 500;
}

.link {
  color: #7838e2;
  font-weight: 500;
}

/* create :after style it as circle and put below x2 */
.indicator {
  width: 3em;
  height: 3em;
  opacity: 1;
  justify-content: center;
  align-content: center;
  display: grid;
  border-radius: 100%;
}

.label {
  padding-top: 0.5rem;
  color: #646464;
  font-size: 0.75rem;
  letter-spacing: 0.015em;
  text-align: center;
}

.setting_size:hover .indicator {
  background-color: #f1f1f1;
  opacity: 1;
}

.setting_size input:checked ~ .indicator {
  background-color: #e1e1e1;
  opacity: 1;
}

/* Mob 320 > 428 */
@media (max-width: 428px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }

  .search {
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 30vw;
  }

  .setting_size {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2/2;
  }

  .iconshape,
  .setting_size,
  .figma {
    min-height: 49vw;
  }

  .figma {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .about {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* XS display 720 > 1024 */
@media (min-width: 720px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }

  .search {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .setting_size {
    grid-column-start: 4;
    grid-column-end: 4;
  }

  .iconshape,
  .setting_size {
    min-height: 24.6vw;
  }

  .figma {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .about {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* S display 1025 > 1200 */
@media (min-width: 1025px) {
  .main {
    grid-template-columns: repeat(6, 1fr);
  }

  .search {
    grid-column-start: 1;
    grid-column-end: 6;
  }

  .setting_size {
    grid-column-start: 6;
    grid-column-end: 6;
  }

  .iconshape,
  .setting_size {
    min-height: 16.4vw;
  }

  .figma {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .about {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

/* M display 1201 > 1440 */
@media (min-width: 1201px) {
  .main {
    grid-template-columns: repeat(8, 1fr);
  }

  .search {
    grid-column-start: 1;
    grid-column-end: 8;
  }

  .setting_size {
    grid-column-start: 8;
    grid-column-end: 8;
  }

  .iconshape,
  .setting_size {
    min-height: 12.2vw;
  }

  .figma {
    grid-column-start: 6;
    grid-column-end: 8;
  }

  .about {
    grid-column-start: 5;
    grid-column-end: 7;
  }
}

/* L display 1441 > 2550 */
@media (max-width: 2550px) {
  .about {
    grid-row: 6/6;
  }
}
