.container {
  margin: 0.25rem;
  border: 1px red solid;
}

.main {
  min-height: 100vh;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.iconshape {
  display: flex;
  flex: 1;
  min-width: 20vmin;
  height: 20vmin;
  border: 1px solid #52089b;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
