.container {
  margin: 0.25em;
}

.main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.2vw;
  row-gap: 0.2vw;
  border-radius: 0.25em;
}

.iconshape {
  display: grid;
  align-content: center;
  text-align: center;
  background: var(--Surface00);
  border-radius: 0.25rem;
  min-height: 12.2vw;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  .iconshape img {
    filter: invert();
    opacity: 0.8;
  }

  .ticker img {
    filter: invert();
    opacity: 0.4;
  }
}

.iconAnimated {
  animation: spin 0.8s ease both;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.iconshape:hover .label {
  animation: download 1.6s ease both infinite;
}

@keyframes download {
  0%,
  15%,
  45% {
    transform: translateY(0em);
  }
  35%,
  55% {
    transform: translateY(0.2em);
  }
}

.search {
  display: grid;
  grid-column: 1/9;
  grid-row: 1/1;
  border-radius: 0.25rem;
  min-height: 12.2vw;
}

.search_input {
  background-color: transparent;
  color: var(--text-medium);
  font-size: 1.5rem;
  padding: 1rem;
  background-color: var(--Surface00);
  border-radius: 0.25rem;
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
}

.setting_size:hover,
.search_input:hover,
.iconshape:hover {
  background-color: var(--Surface10);
}

.search_input:focus {
  outline: none;
  border: 2px solid var(--Surface20);
  box-sizing: border-box;
}

.ticker {
  display: grid;
  height: 2.5em;
  background: var(--Surface00);
  grid-row: 2/2;
  grid-column: 1/9;
  border-radius: 0.25rem;
  width: 100%;
  overflow: hidden;
  box-sizing: content-box;
}

.ticker_items_wrap {
  display: flex;
  gap: 4rem;
  align-items: center;
  white-space: nowrap;
  box-sizing: content-box;
  animation: ticker calc(var(--duration-short) / 1) linear infinite;
}

.ticker_newicon {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.ticker p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 1em;
}

.setting_size {
  user-select: none;
  justify-content: center;
  align-content: center;
  background: var(--Surface00);
  border-radius: 0.25rem;
  font-size: 1.5rem;
  display: grid;
  grid-column: 1/1;
  grid-row: 3/3;
  cursor: pointer;
  min-height: 12.2vw;
}

.setting_size input {
  position: absolute;
  visibility: hidden;
}

/* create :after style it as circle and put below x2 */
.indicator {
  width: 3em;
  height: 3em;
  opacity: 1;
  justify-content: center;
  align-content: center;
  display: grid;
  border-radius: 100%;
}

.setting_size:hover .indicator {
  background-color: var(--Surface15);
  opacity: 1;
}

.setting_size input:checked ~ .indicator {
  font-size: 2em;
}

.figma {
  user-select: none;
  background: var(--Surface00);
  border-radius: 0.25rem;
  font-size: 1.5rem;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 3;
}

.figma model-viewer {
  width: 50%;
  height: 100%;
}

.figma .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0;
}

.figma p {
  color: var(--text-medium);
  font-size: 0.75rem;
  letter-spacing: 0.015em;
  line-height: 160%;
}

.about {
  background: var(--Surface00);
  border-radius: 0.25rem;
  font-size: 1.5rem;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
  padding: 1em;
}

.about p {
  color: var(--text-medium);
  font-size: 0.75rem;
  letter-spacing: 0.015em;
  line-height: 150%;
}

.title {
  font-weight: 500;
}

.link {
  color: var(--primary);
  font-weight: 500;
}

.label {
  padding-top: 0.5rem;
  color: var(--text-medium);
  font-size: 0.75rem;
  letter-spacing: 0.015em;
  text-align: center;
  min-width: 10vw;
  padding: 0em 1em;
}

.nothingFound {
  display: flex;
  flex-direction: column;
  padding: 4em;
  align-items: flex-start;
}

.nothingFound h1 {
  font-size: 3em;
  min-width: 70vw;
}

.requestButton {
  font-size: 1.5em;
  background: var(--Surface00);
  width: 100%;
  height: 5em;
  border: none;
  border-radius: 0.25em;
  margin-block-start: 1em;
  cursor: pointer;
  align-self: stretch;
  padding: 1em;
  color: var(--text-medium);
}

.requestButton:hover {
  transform: scale(1.02);
}

.requestButton:active {
  transform: scale(0.98);
}

/* XXS 320 > 720 */
@media (max-width: 719px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }

  .search {
    grid-column: 1/3;
    grid-row: 1/1;
    min-height: 30vw;
  }

  .ticker {
    grid-column: 1/3;
  }

  .figma {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .about {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .iconshape,
  .setting_size,
  .figma {
    min-height: 49vw;
  }

  .nothingFound {
    padding: 10vw;
  }

  .nothingFound h1 {
    font-size: 2.5em;
    min-width: 80vw;
  }
}

/* XS display 720 > 1024 */
@media (min-width: 720px) {
  .main {
    grid-template-columns: repeat(4, 1fr);
  }

  .search {
    grid-column: 1/5;
    grid-row: 1/1;
    min-height: 20vw;
  }

  .ticker {
    grid-column: 1/5;
  }

  .iconshape,
  .setting_size {
    min-height: 24.6vw;
  }

  .figma {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .about {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/* S display 1025 > 1200 */
@media (min-width: 1025px) {
  .main {
    grid-template-columns: repeat(6, 1fr);
  }

  .search {
    grid-column: 1/7;
    grid-row: 1/1;
    min-height: 12.2vw;
  }

  .ticker {
    grid-column: 1/7;
  }

  .iconshape,
  .setting_size {
    min-height: 16.4vw;
  }

  .figma {
    grid-column-start: 5;
    grid-column-end: 7;
  }

  .about {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

/* M display 1201 > 1440 */
@media (min-width: 1201px) {
  .main {
    grid-template-columns: repeat(8, 1fr);
  }

  .search {
    grid-column: 1/9;
    grid-row: 1/1;
    min-height: 12.2vw;
  }

  .ticker {
    grid-column: 1/9;
  }

  .iconshape,
  .setting_size {
    min-height: 12.2vw;
  }

  .figma {
    grid-column-start: 6;
    grid-column-end: 8;
  }

  .about {
    grid-column-start: 5;
    grid-column-end: 7;
  }
}

/* L display 1600 > infinity baby */
@media (min-width: 1600px) {
  .about {
    grid-row: 6/6;
  }
}
